/* @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url('global-styling.css'); */

/* html, body {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.78);
    
    background-size: cover;
    background-position: center center; 
} */

/* .navbar-background {
    background-color: rgba(0,0,0,.4);
} */

.tone-down-bg {
    background-color: rgba(0, 0, 0, 0.78);
}

#edit-blog-intro, #edit-menu-intro {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('../assets/Backgrounds/all-colors.jpeg');
    background-size: cover;
    background-position: center center;
}


.edit-blog-h2, .edit-menu-h2 {
    color: var(--blue-main);
    font-weight: bold;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 1.5em;
}

.edit-menu-row, .edit-blog-row {
    padding: 2.5em 6em 2.5em 6em;
    margin-top: 10%;
    margin-bottom: 10%;
}

.edit-blog-img-thumbnail, .edit-menu-img-thumbnail {
    object-fit: cover;
    border-radius: 50%;
    border: none;
    object-position: center;
}

.edit-menu-img {
    border: none;
    border-radius: 50%;
    padding: 0;
    background: transparent;
}

.edit-add-img {
    margin-bottom: 1em;
}

.edit-add-img:hover {
    cursor: pointer;
    transition: all .1s ease-in-out;
    transform: scale(1.05);
    background: transparent;
}

/* .menu-btn {
    color: var(--blue-main);
}

.menu-btn:hover{
    font-size: 15px;
    color: var(--blue-main);
}

.menu-btn:active{
    color: white;
} */

/* input[type="file"] {
    display: none;
} */

.edit-input[type="file"] {
    display: none;
}

.edit-label-file {
    color: var(--blue-main);
    border: none;
    display: inline-block;
    padding-left: 1em;
    cursor: pointer;
}

/*To make label in the middle of the text box*/
.edit-label {
    padding-top: .5em;
    padding-right: 1em;
}

.edit-menu-label {
    color: var(--blue-main);
    font-style: italic;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

.edit-input-styling {
    border-radius: 0;
    border-bottom: 2px solid var(--blue-main);
    margin-right: 5em;
    border-top: none;
    border-left: none;
    border-right: none;
}

.edit-save-btn {
    color: var(--blue-main);
    border: none;
    margin-top: 1em;
    font-style: italic;
}

.edit-save-btn:hover {
    color: var(--blue-main);
    transition: all .1s ease-in-out;
    transform: scale(1.05);
}

.edit-menu-add-row {
    margin-top: 1em;
    margin-bottom: 1em;
}

.edit-menu-add-row:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.05);
}

.edit-menu-add-row-btn {
    border-radius: 0;
    border: none;
    background: none;
}

.edit-menu-add-row-label {
    cursor:pointer;
}

.edit-line-break {
    margin-top: 2em;
    border: none;
    border-top: 3px double var(--blue-main);
    color: var(--blue-main);
    overflow: visible;
    text-align: center;
    height: 5px;
}

.edit-line-break:after {
/* hr:after { */
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.example-blog {
    width: 30%;
    height: fit-content;
}