/.idea/vcs.xml
/.idea/modules.xml
/.idea/group_0012.iml
/.idea/.gitignore
/P2/db.sqlite3
/P2/venv
__pycache__/
*.py[cod]

P2/manage.py
*.pyc
P1/Images/.DS_Store
.DS_Store
P2/accounts/__pycache__/apps.cpython-310.pyc
