:root {
    --blue-1: #00B4D8;
    --blue-2: #0096C7;
    --blue-main: #0096C7;
    --blue-3: #0077B6;
    --blue-4: #023E8A;
    --blue-5: #03045E;

    --orange-1: #FF5400;
    --orange-2: #FF6D00;
    --orange-main: #FF6D00;
    --orange-3: #FF8500;
    --orange-4: #FF9100;
    --orange-5: #FF9E00;

    --background-grey: #434750;
}