@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&display=swap');
@import url('/P1/Templates/global-styling.css');  /* TODO WHEN YOU COPY THIS REMEMBER TO CHANGE DIRECTORY */

/*html, body{*/
/*    background-color: lightgrey;*/
/*}*/

.background {
    background-color: var(--background-grey);
}

.nav-logo-color {
    color: #0096C7;
    font-weight: bold;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
}

.nav-logo-color:hover{
   color: white;
}

.lol {
    background-color: #434750;
    /*border-color: #0096C7;*/
    color: #0096C7;
}

.lol:hover {
    /*background-color: #0096C7;*/
    color:white;
}
.lol:active{
    color: #FF5400;
}

.lol:focus {
    box-shadow: none;
    /*background-color: unset;*/
    /*color: #0096C7;*/
}

.dropdown-menu {
    /*min-width: 5em;*/

}

/*.lol {*/
/*    border-color: yellow;*/
/*}*/

.dropdown-menu {
    background-color: #0096C7;
}

.lollol:hover {
    background-color: #434750;
}
