<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restify</title>
    <link rel="stylesheet" href="/P1/Frameworks/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="navbar.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>




<!--TAKEN FROM BOOTSTRAP DOC https://getbootstrap.com/docs/4.0/components/navbar/   -->
<!--COPY FROM HERE  -->
<nav class="navbar  background fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand nav-logo-color" href="#">

            <img src="/P1/Images/restaurant-logo.png" alt="" height="28" class="d-inline-block align-text-top">
            Restify
        </a>
        <div class="ms-auto">
            <button class="btn  navbar-button-styling" type="submit"><img src="/P1/Images/Icons/search.svg" alt="search"/>Search</button>
            <button class="btn  navbar-button-styling" type="submit"><img src="/P1/Images/Icons/profile.svg" alt="notifications">Notification</button>
            <button class="btn  navbar-button-styling" type="submit"><img src="/P1/Images/Icons/profile.svg" alt="profile"/>Profile</button>
            <button class="btn  navbar-button-styling" type="submit"><img src="/P1/Images/Icons/logout.svg" alt="logout"/>Logout</button>
        </div>
    </div>
</nav>
<!--COPY FROM HERE-->




</body>
</html>