<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restify</title>
    <link rel="stylesheet" href="/P1/Frameworks/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</head>
<body class="">
<nav class="navbar  background fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand nav-logo-color" href="#">
            <img src="/P1/Images/restaurant-logo.png" alt="" height="30" class="d-inline-block align-text-top">
            Restify
        </a>
        <div class="ms-auto">

            <button class="btn btn-outline-success" type="submit">Notification</button>
            <button class="btn btn-outline-success" type="submit">Search</button>

        </div>


        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle lol" style="margin-left: .3em" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/P1/Images/Icons/settings.svg" alt="mail">
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
<!--                <li><a class="dropdown-item" href="#">Action</a></li>-->
                <li><a class="dropdown-item lollol" href="#"><img src="/P1/Images/Icons/profile.svg" alt="mail"></a></li>
                <li><a class="dropdown-item lollol" href="#"><img src="/P1/Images/Icons/logout.svg" alt="mail"></a></li>
            </ul>
        </div>


    </div>

</nav>
</body>
</html>