@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,700&display=swap');
@import url('/P1/global-styling.css');


/* TODO COPY THIS TO ADD NAVBAR STYLING IN YOUR HTML
@import url('global-styling.css');
@import url('navbar.css');
*/






.navbar-background {
    /* TODO CHANGE THIS IF YOU DONT WANT IT TRANSPARENT*/
    background-color: rgba(0,0,0,0.78);
}

.navbar-logo-color {
    color: var(--blue-2);
    font-weight: bold;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
}

.navbar-logo-color:hover{
   color: white;
}

.navbar-logo-color:active {
    color: var(--orange-1);
}

.navbar-button-styling {
    /* TODO CHANGE THIS IF YOU DONT WANT IT TRANSPARENT AND SAME COLOR AS ABOVE*/
    /*background-color: var(--background-grey);*/
    /*border-color: #0096C7;*/
    color: var(--blue-2);
}

.navbar-button-styling:hover {
    /*background-color: #0096C7;*/
    color:white;
}
.navbar-button-styling:active{
    color: var(--orange-1);
}

.navbar-button-styling:focus {
    box-shadow: none; /* gets rid of the box outline when you click on button */
}


