
@import "../global-styling.css";
@import url('../Templates/navbar.css');

html, body {
    background-color: var(--background-grey);
    /* height: 120%; */

    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('Images/MqALXo.jpeg');
    background-size: cover;
    background-position: center center;
}

.cover {
    background-image: url('../Images/pizzapizza.jpeg');
    background-size: cover;
    height: 400px;
}

.black-overlay {
    background: rgba(0, 0, 0, 0.70);
    height: inherit;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.edit-button {
    position: absolute;
    left:0;
    bottom: 110%;
    z-index: 1; /* prevents button from dissapearing on hover*/            
}

.blog-edit-button {
    z-index: 1; /* prevents button from dissapearing on hover*/
    position: absolute;
    left: 0;
    top: 5px;
}

.blog-delete-button {
    z-index: 1; /* prevents button from dissapearing on hover*/
    position: absolute;
    left: 0;
    top: 45px;
}

.nav-item {
    position:relative;
}


/* .hover-info{
    display:block;
    z-index: 100;
    position: absolute;
    
    background: var(--blue-1);
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 1px 4px 1px 4px;
    border-radius: 2px;
    user-select: none;
    width: 200px;
    left:0;
    bottom: 120%;
}

.hover-info.top{
    display:none;
    
}
.edit-button:hover .hover-info.top {
    display: block;
} */


.logo {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
}



/* https://bootsnipp.com/snippets/exE6D */
nav>.nav.nav-tabs {
    border: none;
    color: #fff;
    background: black;
    border-radius: 4px;
    border-bottom: 5px solid var(--blue-2);
    position:relative;
    bottom: 20px;
}

nav>div a.nav-item.nav-link {
    border: none;
    padding: 18px 25px;
    border-radius: 0;
    color:white;
    font-weight: 800;
}

nav>div a.nav-item.nav-link.active {
    border: none;
    padding: 18px 25px;
    color: #fff;
    background: var(--blue-2);
    border-radius: 0;
}


.tab-content {
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    padding: 30px 25px;
}


nav>div a.nav-item.nav-link:hover {
    background: var(--blue-2);
    transition: background 0.20s linear;
}

.tone-down-bg {
    background-color: rgba(0, 0, 0, 0.5);
}




