@import "./global-styling.css";

html, body {
    background-color: var(--background-grey);
    height: 120%;

    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('Images/MqALXo.jpeg');
    background-size: cover;
    background-position: center center;
}

.jumbotron {
    padding: 8rem 2rem;
    margin-bottom: 2rem;
    background-color: rgba(var(--blue-main-rgb), 0.4);
    color: white;
    
}

/* #intro {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('Images/MqALXo.jpeg');
    background-size: cover;
    background-position: center center;
} */

/* .tone-down-bg {
    background-color: rgba(0, 0, 0, 0.78);
} */

.card:hover {
    transition: all .1s ease-in-out;
    transform: scale(1.05);
    
}

.card-text {
    color:rgb(165, 165, 165);
}

