@import url('../Login/login.css');

/*OVERRIDE LOGIN CSS*/
#signup {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('../assets/Signup/La-Societe-Patio-Pic.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    /*height: 100vh;*/   /* so background wont run out when scrolling so had to remove*/

}

.signup-align-b {
    margin-bottom: 4em;
}

.placeholder-bold::-webkit-input-placeholder{
    font-weight: bold;
}
.rounding {
    border-radius: 40px;
}

.carousel-inner {
    max-height: 380px;
}

.signup-img {
    max-height: 380px;
}


.signup-container {
    padding-top: 1em;
    padding-bottom: 2em;

    /*width: 25rem;*/
    background-color: white;
    padding-left: 4em;
    padding-right: 4em;
    border-radius: 40px;
    box-shadow: 5px 5px 10px var(--blue-main);
    margin-left: 6em;
}

.carousel {
    background-color: #231F20;
}

/*TODO CHANGE FOR CARASOUL*/
h5 {
    color: white;
}

.signin-h5 {
    color: white;
}