@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



html, body {
    height: 100%;
    background-color: var(--background-grey);
}

/* TODO */

.tone-down-bg {
    background-color: rgba(0, 0, 0, 0.78);
}

/* TODO */

#profile {
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('../assets/Restaurant-Logo/generic-background.jpeg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

/* TODO */

h2, h4 {
    color: var(--blue-main);
    font-weight: bold;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 1.5em;
}

.profile-h2-h4 {
    color: var(--blue-main);
    font-weight: bold;
    font-style: italic;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 1.5em;
}

.profile-h4 {
    padding-top: 1em;
}

h4 {
    padding-top: 1em;
}

.row-content-adjust {
    background-color: white;
    padding: 2.5em 6em 2.5em 6em;
}

.img-thumbnail {
    object-fit: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    object-position: center;
}

.img-thumbnail:hover{
    transition: all .1s ease-in-out;
    transform: scale(1.1);
    border: #0096C7 1px solid;
}


.avatar-img {
    border: none;
    border-radius: 50%;
    padding: 0;
}

.avatar-img:hover{
    cursor: pointer;
}

.avatar-btn {
    color: var(--blue-main);
}

.avatar-btn:hover{
    font-size: 15px;
    color: var(--blue-main);
}

.avatar-btn:active{
    color: white;
}

input[type="file"] {
    display: none;
}

.label-file {
    color: var(--blue-main);
    border: none;
    display: inline-block;
    padding-left: 2em;
    cursor: pointer;
}

.label-file:hover{
    transition: all .1s ease-in-out;
    transform: scale(1.05);
}

.label-file:active{
    color: white;
}

/*To make label in the middle of the text box*/
/* TODO */
label {
    padding-top: .5em;
    padding-right: 1em;
}


.profile-label {
    padding-top: .5em;
    padding-right: 1em;
    color: var(--blue-main);
    font-style: italic;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}
.input-text-styling {
    border-radius: 0;
    border-bottom: 2px solid var(--blue-main);
    margin-right: 3em;
    border-top: none;
    border-left: none;
    border-right: none;
}

.save-btn {
    color: var(--blue-main);
    border: none;
    margin-top: 1em;
}

.save-btn:hover {
    color: var(--blue-main);
    transition: all .1s ease-in-out;
    transform: scale(1.05);
}

.form-control::placeholder, input, .form-control:focus {
    font-style: italic;
    font-family: 'Nunito', sans-serif;
}

.form-control:focus {
    color: #0096C7;
}

.px-075em {
    padding-left: 0.75em;
}




